- const testing = true
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body
    #app(v-cloak)

      include screens/_question
      include screens/_game-over
      

    include partials/_javascripts