main.question { height:100vh; display:flex; justify-content:center; padding:2rem;  background:#cfcfcf;

  @media (min-height: 760px) { align-items: center; }
  @media (max-height: 759px) { align-items: flex-start; }

  .card { background:#fff; padding:10px 40px 30px 40px; display:flex; flex-direction: column; gap:20px; max-width: 500px; box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.5);
    h1, h2, h3, h4, h5, p:last-child { margin-bottom: 0; }
    h1 { font-size:clamp(32px, 7vw, 48px); font-weight: 800; margin:0; }
    img { width:100%; aspect-ratio: 2/1; object-fit: cover; object-position: center; }
    .choices-and-timer { display:grid; grid-template-columns: 1fr 1fr;
      @media (max-width:380px) {
        grid-template-columns: 1fr;
        .choices { order: 1; }
        .timer { order: 2; }
      }
    }
    .timer { font-family: $monospace; font-size:26px; font-weight: 600; line-height: 100%; padding-top: 0.4em;
      .m { font-size:200%; }
      .s { font-size:200%; }
    }
    .choices { text-align: right;
      button { font-size:2em; border: 0.1em solid; border-radius: 50%; background-color:transparent; width:50px; height:50px; cursor: pointer; display: inline-block; padding:unset;
        svg { width:32px; height:32px;
          * { fill:currentColor; }
        }
        &.yes { color:$green; border-color: $green;
          svg { transform: translateY(5%); }
          &:hover { background:$green; color:$white; }
        }
        &.no { color:$red; border-color:$red;
          svg { transform: translateY(20%); }
          &:hover { background:$red; color:$white; }
        }
      }
    }
  } 
}