main.game-over(v-if="isGameOver")

  section.headline
    h1 Test Complete

  section.feedback
    .inner
      .before-headline Your results...
      template(v-if="!computedSuccess")
        h2 Shameful!
        p When confronted with a wide array of people, places and things, and you can not tell if a single one of them is American pop icon Nicki Minaj.
        p Recognize that this is a failure in #[strong you] as a person, and do whatever you can to try to be better in the future.
      
      template(v-else-if="user.iq > 100")
        h2 Congratulations!
        p Of all the people, places and things that exist in the world, you can tell if {{computedSuccess}}% of them are Nicki Minaj. 
        p This gives you an IQ of {{user.iq}}, which is higher than American football legend Johnny Unitas.
      
      template(v-else)
        h2 Nice try!
        p Of all the people, places and things that exist in the world, you can tell if {{computedSuccess}}% of them are Nicki Minaj. 
        p This gives you an IQ of {{user.iq}}, which is higher than that of the average (untrained) raccoon.
  
  section.credits
    .inner
      p This site was created by 
        a(href="https://ahoylemon.xyz" target="_blank") Lemon
        | , based on an idea from 
        a(href="https://linktr.ee/klobstar" target="_blank") Kendrick Lobstar
        | . 
      p If you didn't find it funny... Well, at least it was short.
      //-p 
        a(href=githubURL) GitHub Repo here
        | , if you want it.